body{
    background-color: #F0F0F5;
}
.clear{
    clear: left;
}
.nagarro-logo{
    width: 80px;
}
.logo{
    width: 40px;
}
.hidden{
    display: none;
}
.cur-pointer{
    cursor: pointer;
}
.width100{
    width: 100%;
}
.height80{
    height: 80%;
}

/* bootstrap override */
.bg-dark{
    background-color: #181B57 !important;
}
@media (min-width: 576px) {
    .jumbotron {
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
    }
}
.lead {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}