body{
    background-color: #F0F0F5;
}
.clear{
    clear: left;
}
.nagarro-logo{
    width: 80px;
}
.logo{
    width: 40px;
}
.hidden{
    display: none;
}
.cur-pointer{
    cursor: pointer;
}
.width100{
    width: 100%;
}
.height80{
    height: 80%;
}
.lift-up{
    position: relative;
    top: -40px;
}
.table {
    font-size: 0.8em;
}
.table tr td:first-child{
    font-weight: 500;
}
.font-14{
    font-size: 14px;
}

/* bootstrap override */
.bg-dark{
    background-color: #181B57 !important;
}
.graph-container{
    width: 100%;
    min-height: 250px;
}
.bordered-container{
    border: 1px solid #cccccc;
}
.lead {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
    }
}
