#desk-container{
  height: 300px;
  border: 1px solid #cccccc;
}

#desk-container > div{
  border: 1px solid #cccccc;
}

#support-agent{
  position: relative;
}

#cashier-container{
  height: 65%;
}

.element, .desk-element, .cashier-queue-element, .cashier-desk-element{
  width: 20px;
  height: 20px;
  position: absolute;
  transition: left 2s ease-out, top 2s ease-out;
  z-index: 1;
}

.exit-element{
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 0.2s ease;
  left: 10px;
}

.entry-logo{
  width: 70px;
  position: absolute;
  left: 4px;
  bottom: 5px;
}

.exit-logo{
  position: absolute;
  width: 70px;
  right: 4px;
  bottom: -51px;
}